@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Wedding Planner</h1>
    <h3>LogIn and Registration</h3>
</div>

<div class="row">
    <div class="col col-sm-6">
        <partial name="Registration.cshtml"></partial>
    </div>
    <div class="col col-sm-6">
        <partial name="Login.cshtml"></partial>
    </div>
</div>